@import "./base.css";
@import "bulma/css/bulma.css";

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

:root {
  --bulma-primary-h: 156deg;
  --bulma-primary-s: 14%;
  --bulma-primary-l: 71%;
  --bulma-link-h: 188deg;
  --bulma-link-s: 14%;
  --bulma-link-l: 31%;
  --bulma-info-h: 197deg;
  --bulma-info-s: 14%;
  --bulma-info-l: 58%;
  --bulma-scheme-h: 150;
}

body {
  font-family: "Inter";
}
