@import "./base.css";
@import "bulma/css/bulma.css";

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Cabin";
  src: url("../assets/Cabin-VariableFont_wdth,wght.ttf") format("truetype");
}

:root {
  --bulma-primary-h: 186deg;
  --bulma-primary-s: 66%;
  --bulma-primary-l: 53%;
  --bulma-link-h: 296deg;
  --bulma-link-s: 65%;
  --bulma-link-l: 71%;
  --bulma-info-h: 333deg;
  --bulma-info-s: 66%;
  --bulma-info-l: 61%;
  --bulma-scheme-h: 185;
}

[data-theme="light"] {
  --bulma-primary-h: 186deg;
  --bulma-primary-s: 66%;
  --bulma-primary-l: 53%;
  --bulma-link-h: 296deg;
  --bulma-link-s: 65%;
  --bulma-link-l: 71%;
  --bulma-info-h: 333deg;
  --bulma-info-s: 66%;
  --bulma-info-l: 61%;
  --bulma-scheme-h: 185;
}
body {
  font-family: "Cabin";
}
